{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V8</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
            {% csrf_token %}
					<span class="login100-form-title">
						Sign In
					</span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    {{ form.username }}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    {{ form.password }}
                    <span class="focus-input100"></span>
                </div>
                {% if attempt and not authenticated %}
                    <div class="flex-col-c pt-3">
						<span class="txt1 p-b-9">
							Wrong username or password
						</span>

                    </div>
                {% endif %}

                <div class="container-login100-form-btn mb-5 mt-4">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>


            </form>

        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/login.js' %}"></script>

</body>
</html>