{% load static %}<!DOCTYPE html>
<html>
<head>

    {% block site_title %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ logo }}"/>
    <meta property="fb:app_id" content="469881999753251"/>
    <meta property="og:type" content="peeljobs:job"/>
    <link rel="shortcut icon" href="{{ favicon }}">
    <meta charset="utf-8">
    {% block css %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">

        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

        <link rel="stylesheet" href="{% static 'css/aos.css' %}">


        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">


        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}

</head>
<body>

{% block main_body %}
{% endblock %}

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">

                <p>Job recommendation</p>
            </div>
        </div>
    </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>


<script src="{% static 'js/scrollax.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'jobs/js/datatable.js' %}"></script>

<script src="{% static 'jobs/js/datatable.js' %}"></script>
<script src="{% static 'jobs/js/job_list.js' %}"></script>
</body>
</html>