{% extends "base.html" %}
{% load static %}

{% block site_title %}
    <title>Jobs Listing</title>
{% endblock %}
{% block main_body %}
    {# job listing here #}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">JobPortal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            {% if request.session.member_id != 0 %}
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item cta mr-md-2"><a href="{% url 'logout' %}" class="nav-link">Log out</a></li>


                    </ul>
                </div>
            {% else %}
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item cta mr-md-2"><a href="{% url 'login' %}" class="nav-link">Log in</a></li>


                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <span class="number" data-number="10000">0</span> job offers</p>
                    <h1 class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Job recommendation
                        <br><span>using TF-IDF/Word2vec</span></h1>

                    <div class="ftco-search">
                        <div class="row">

                            <div class="col-md-1 mr-5">
                                <a href="{% url 'job-search' %}" class="btn btn-primary p-3 job-btn">Job listings</a>
                            </div>
                            <div class="col-md-1">
                                <a href="{% url 'job-upload' %}" class="btn btn-primary p-3 job-btn">Job upload CSV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">

                    <h2 class="mb-4"><span>Random</span> Jobs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">

                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">Frontend Development</h2>

                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
                                <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                            </div>
                        </div>


                    </div>
                </div><!-- end -->
                <div class="col-md-12 ftco-animate">

                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">Java Developer</h2>

                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
                                <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                            </div>
                        </div>


                    </div>
                </div><!-- end -->
                <div class="col-md-12 ftco-animate">

                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">Backend Development</h2>

                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
                                <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                            </div>
                        </div>


                    </div>
                </div><!-- end -->
                <div class="col-md-12 ftco-animate">

                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">Testing</h2>

                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
                                <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                            </div>
                        </div>


                    </div>
                </div><!-- end -->
                <div class="col-md-12 ftco-animate">

                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">UI/UX</h2>

                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
                                <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
                            </div>
                        </div>


                    </div>
                </div><!-- end -->


            </div>

        </div>
    </section>



{% endblock %}