{% extends "base.html" %}
{% load static %}

{% block site_title %}
    <title>{{ job.job_title }}</title>
{% endblock %}
{% block main_body %}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{job.job_title}}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ftco-animate">
                    <h2 class="mb-3">{{job.job_title}}</h2>
                    <h3>{{job.company}}
                        -
                        {{job.city}}</h3>
                    <p>{{ job.job_description }}</p>



                </div> <!-- .col-md-8 -->
                <div class="col-md-4 sidebar ftco-animate">

                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3><a href="{% url 'recommendation-tfidf' job.id %}">Recommendations from tf-idf</a></h3>
                            <h3><a href="{% url 'recommendation-word2vec' job.id %}">Recommendations from word2vec</a></h3>
                            <h3><a href="{% url 'recommendation-word2vec-wmd' job.id %}">Recommendations from word2vec using WMD</a></h3>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section> <!-- .section -->

{% endblock %}