{% extends "base.html" %}
{% load static %}

{% block site_title %}
    <title>Job Recommendations by {{ type }}</title>
{% endblock %}

{% block main_body %}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-3 bread"
                        data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{ job }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">

                <div class="x_panel">


                    <section class="pt-5 p-b-5 bg-light">
                        <div class="container">
                            <section class="ml-5 ftco-degree-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 ftco-animate">
                                            <h2 class="mb-3">{{job.job_title}}</h2>
                                            <h3>{{ job.company }}
                                                -
                                                {{ job.city }}</h3>
                                            <p style="font-size: 16px">{{ job.job_description }}</p>
                                        </div> <!-- .col-md-8 -->

                                    </div>
                                </div>
                            </section> <!-- .section -->
                            <div class="row justify-content-center mt-5 m-b-3 p-3">
                                <div class="col-md-7 heading-section text-center ftco-animate">

                                    <h2>Recommendations by {{ type }}</h2>
                                </div>
                            </div>
                            <form method="post" id="recommendation-rating-form">
                                {% csrf_token %}
                                <input id="job-id" type="hidden" value="{{ job.id }}">
                                <input id="job-type" type="hidden" value="{{ type }}">
                                <div class="row pl-5 pr-5" id="form-data">
                                    {% for item in jobs %}
                                        <div class="col-md-12 ftco-animate">

                                            <div class="job-post-item bg-white p-4">
                                                <a href="{% url 'job-detail' item.id %}">
                                                    <span class="row">
                                                        <div class="col-md-2">
                                                        <h2 class="mr-3 text-black h3">{{ item.title }}</h2>
                                                    </div>
                                                    <div class="col-md-8 m-t-2">
                                                         <p style="color: black; font-size: 16px">{{ item.desc |truncatechars:300 }}</p>
                                                            <h5 style="display: inline-block">Score:</h5> <span>{{ item.score }}</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                          <h5>Rating:</h5>
                                                    <span class="recomendation_id"
                                                          style="visibility: hidden">{{ item.id }}</span>
                                                    <input type="number" class="form-control rate_number" value="0">
                                                    </div>
                                                    </span>


                                                </a>


                                            </div>
                                        </div><!-- end -->
                                    {% endfor %}
                                    <input type="submit" class="btn btn-primary ml-4" id="submit-rating"
                                           value="Submit rating">

                                </div>

                                {% if jobs.paginator.num_pages > 1 %}

                                    <!-- start -->
                                    {% include 'jobs/_pagination.html' with items=jobs %}
                                    <!-- end -->

                                {% endif %}
                            </form>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

{% endblock %}