{% extends "base.html" %}
{% load static %}

{% block site_title %}
    <title>Job Upload CSV</title>
{% endblock %}


{% block main_body %}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Upload Job</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <h3>Upload job data in CSV</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="jobfile">
            <button type="submit">Upload</button>
        </form>

        {% if success %}
            <p>File upload status: {{ success }}  </p>
        {% endif %}

    </div>

{% endblock %}