{% extends "base.html" %}
{% load static %}

{% block site_title %}
    <title>Job Listing</title>
{% endblock %}

{% block main_body %}


    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">

                <div class="x_panel">


                    <section class="ftco-section bg-light">
                        <div class="container">
                            <div class="row">


                                <div class="col-md-12">
                                    <h4 class="pl-5">Search Jobs</h4>
                                    <form method="post" class="pl-5 pr-5">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="row form-group">
                                            <div class="col-md-10 mb-3 mb-md-0">
                                                <label class="font-weight-bold" for="fullname"></label>
                                                {{ form.job_title }}
                                            </div>
                                            <div class="col-md-2 mt-4 p-2 mb-3 mb-md-0">
                                                <input type="submit" value="Search" class="btn btn-primary  py-2 px-5">
                                            </div>
                                        </div>


                                    </form>
                                </div>

                            </div>
                            <div class="row justify-content-center mt-2 pb-3">
                                <div class="col-md-7 heading-section text-center ftco-animate">

                                    <h2>Job search results</h2>
                                </div>
                            </div>
                            <div class="row pl-5 pr-5">
                                {% for item in jobs %}
                                    <div class="col-md-12 ftco-animate">

                                        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                                            <a href="{% url 'job-detail' item.id %}">
                                                <div class="mb-4 mb-md-0 mr-5">
                                                    <div class="job-post-item-header d-flex align-items-center">
                                                        <h2 class="mr-3 text-black h3">{{ item.job_title }}</h2>

                                                    </div>
                                                    <div class="job-post-item-body d-block d-md-flex">
                                                        <div class="mr-3"><span class="icon-layers"></span> <a href="#">
                                                            {{ item.company }}
                                                        </a></div>
                                                        <div><span class="icon-my_location"></span>
                                                            <span>{{ item.city }}</span></div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </div><!-- end -->
                                {% endfor %}


                            </div>

                            {% if jobs.paginator.num_pages > 1 %}

                                <!-- start -->
                                {% include 'jobs/_pagination.html' with items=jobs %}
                                <!-- end -->

                            {% endif %}
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

{% endblock %}